<% if session[:player] == 'player1' %>
  <pre><%= $game.own_board_view $game.player_1 %></pre>
<% else %>
  <pre><%= $game.own_board_view $game.player_2 %></pre>
<% end %>

<form action="/placed_ship" method="post">
  <input type="text" name="Coordinates">
  <select name="shipTypes">
    <option value="aircraft_carrier">Aircraft Carrier</option>
    <option value="battleship">Battleship</option>
    <option value="cruiser">Cruiser</option>
    <option value="destroyer">Destroyer</option>
    <option value="submarine">Submarine</option>
  </select>
  <select name="orientation">
    <option value="vertically">Vertically</option>
    <option value="horizontally">Horizontally</option>
  </select>
  <input type="submit" value="Place Ship">
</form>

<form action='/prepare_to_shoot'>
  <input type="submit" value="Shoot Ship">
</form>
