<% require './lib/ship.rb' %>

<% if session[:player] == 'player1' %>
  <pre><%= $game.own_board_view $game.player_1 %></pre>
<% else %>
  <pre><%= $game.own_board_view $game.player_2 %></pre>
<% end %>

<form action="/placed_ship" method="post">
  <input type="text" name="Coordinates">
  <select name="shipTypes">
    <% Ships.sizes.each_key do |ship| %>
      <% unless $game.board.ships.include?(ship)
        <option value="<%= ship %>">"<%= ship %>"</option>
      <% end %>
    <% end %>




  </select>
  <select name="orientation">
    <option value="horizontally">Horizontally</option>
    <option value="vertically">Vertically</option>
  </select>
  <input type="submit" value="Place Ship">
</form>

<form action='/prepare_to_shoot'>
  <input type="submit" value="Shoot Ship">
</form>
